// Accent colors
$primary-color: #F41021;
$secondary-color: #240076;

// Neutral colors
$white-color: #ffffff; // Pure White
$black-color: #202124; // Black Russian(Very dark shade of Blue)

// Config
$transition: 0.3s;
$border-radius: 8px;

//font-family
$primary-font: 'Noto Serif Bengali', serif;
$secondary-font: 'Noto Serif', serif;
